<h1>New student</h1>
<%# 
-We use form_with to create a form for a model object
helper to generate an HTML form to create products. 
This helper uses a form builder to handle things like CSRF tokens,
generating the URL based upon the model: provided, and even tailoring the
submit button text to the model.
 %>
<%= render "form", student: @student %>
<%= link_to "Back", "/" %>