<h1><%= @student.full_name %></h1>

<%= link_to "Back", "/" %>
<%= link_to "Edit", edit_student_path(@student) %>
<%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure to delete ?" } %>